.central {
  margin: 15% auto;
  padding: 0 2rem;
  max-width: 800px;
}
.label {
  white-space: nowrap;
  min-width: 30px;
}
.btn {
  margin: 1rem;
}
.central-btn {
  display: table;
  margin: 1rem auto;
}
.blue {
    color: #0064e6;
}
#dorm-wing-label {
  margin-right: 1rem;
}
#dorm-wing-group .custom-radio {
  padding-top: .5rem;
}
#warning {
  font-size: 11pt;
  display: table;
  margin: auto;
}
#submit {
  margin-top: 2rem;
}
#correct-info {
  margin-top: 10px;
}
#frame-wrapper {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  transform: translateZ(0px);
  border: 2px solid #eee;
}
#consent-frame {
  display: table;
  margin: auto;
  width: 100%;
  height: 420px;
}
#agreement {
  margin: 10px 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
