.central {
  margin: 10% 20%;
}
.label {
  white-space: nowrap;
  min-width: 30px;
}
.btn {
  margin: 10px;
}
.central-btn {
  display: table;
  margin: auto;
}
#uid-note {
  font-size: 10pt;
  margin-top: -.8rem;
  margin-left: 6rem;
  color: #0064e6;
}
#submit {
  margin-top: 2rem;
}
#correct-info {
  margin-top: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
