.central {
  margin: 15% auto;
  padding: 0 2rem;
  max-width: 700px;
}
.label {
  white-space: nowrap;
  min-width: 30px;
}
.btn {
  margin: 10px;
}
.central-btn {
  display: table;
  margin: auto;
}
#dorm-wing-label {
  margin-right: 1rem;
}
#dorm-wing-group .custom-radio {
  padding-top: .5rem;
}
#warning {
  font-size: 11pt;
  color: #0064e6;
  display: table;
  margin: auto;
}
#submit {
  margin-top: 2rem;
}
#correct-info {
  margin-top: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
